h1{color: rgb(152, 170, 69);text-align:center;}
h1{text-align:center;
    background-color: #5d676d;
    color: #909db1;
}
h2{
    background-color:rgb(152, 170, 69);
    color: #2e3a36;

}
a{color: rgb(139, 141, 155);text-align:right;
   font-style:normal;
   font-weight:bolder;
}
body{
    background-color: #25292b;
}
ul{
    color:rgb(152, 170, 69) ;
}
p{
    color:rgb(152, 170, 69) ;
}